html {
    font-family: 'Roboto', sans-serif;
}

header,
footer,
.hero {
    background-color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}