html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Color Scheme & Typography*/

header,
footer,
.hero {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.hero-content p,
.nav a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content h1 {
    font-size: 48px;
    }

.hero-content h1,
.info h2 {
    font-weight: 900;
}

.logo,
.hero-content h1,
.placeholder-img,
footer,
button {
    color: #F9FAF8;
}

button {
    background: #3882F6;
    font-weight: 900;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
}

.info h2,
.quote {
    font-size: 36px;
    color: #1F2937;
}

.quote {
    font-style: italic;
}

.quote-container {
    background-color: #E5E7EB;
}

/* Navigation */

.nav {
    list-style: none;
    display: flex;
}

.nav a {
    text-decoration: none;
    margin-left: 15px;
}

/* Page Layout */

header,
.hero,
.info,
.quote-container,
.signup,
footer {
    padding: 0 250px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    flex-wrap: wrap;
}

.hero-content {
    width: 50%;
}

.placeholder-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: gray;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
